**/docs/build/*

**/.ipynb_checkpoints

*.egg-info*

# Editor cache and config
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.cache/

# Environments
.env
.venv

# Spyder project settings
.spyderproject
.spyproject

# profiler output
*.cprof
